**/Debug/*
**/Release/*

**/*.obj
*.map

matrixmult/helloDSP/dsp/Debug/helloDSP_config.obj

matrixmult/helloDSP/dsp/Debug/helloDSP.map

*.out

*.obj

matrixmult/helloDSP/dsp/Debug/helloDSP.out

matrixmult/helloDSP/dsp/Debug/helloDSPcfg_c.obj

matrixmult/helloDSP/dsp/Debug/helloDSPcfg_c.obj

matrixmult/helloDSP/gpp/Release/system_os.o

matrixmult/helloDSP/gpp/Release/matrix_config.o

*.o

*.map

*.obj

*.obj

*.cdb

*.s62

*.o
